* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    margin-top: 35px;
    transition: 0.3s;
}

header>nav {
    width: 370px;
    transition: 0.4s;
}


header>nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;

}

header>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>h1 a {
    letter-spacing: 1.5px;
    font-size: 23px;
}

code {
    font-family: monospace;
    font-size: 25px;
}

header a {
    color: #51D8D8;
    text-decoration: none;
}

header>button#menuBtn {
    background-color: transparent;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 29px;
    transition: 0.4s;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 2px;
}

header>button#menuBtn:hover {
    background-color: rgba(255, 255, 255, 0.075);
}


.menu {
    background-color: rgba(17, 17, 17, 0.637);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(1.5px);

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;

    transform: translateY(-100%);

    transition: 0.4s;
}

.menuShow {
    transform: translateY(-100%);
    opacity: 1;
}

.menu>div {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 20px;
}

#menuClose {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 23px;
    transition: 0.4s;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 2px;
}

#menuClose:hover {
    background-color: rgba(255, 255, 255, 0.322);
    color: black;
}

.menu>div>h2 a {
    color: #51D8D8;
    text-decoration: none;
}

.menu>nav {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.menu>nav>a {
    text-align: center;
    background-color: #02acac;
    display: block;
    width: 90%;
    padding: 8px;
    font-size: 17px;
    border-radius: 50px;
    color: white;
    transition: 0.4s;
}

.menu>nav>a:hover {
    background-color: #00799e;
}

.menu>nav>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    gap: 20px;
    list-style: none;
}

.menu>nav>ul a {
    color: white;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    transition: 0.3s;
}

.menu>nav>ul>li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

.menu>nav>ul a:hover {
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.068);
}

@media screen and (max-width: 900px) {

    header>nav {
        display: none;
    }

    header>button#menuBtn {
        display: flex;
    }

    .menuShow {
        transform: translateY(0%);
    }
}


/* PRINCIPAL  */

main {
    display: flex;
    flex-direction: column;
    position: relative;
}


main>section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */

    color: white;

    min-height: calc(100vh - 85px);
    position: relative;

}

main>section:nth-child(2) {
    color: white;
}

main>section>span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    width: 100%;
}

.imgHidden {
    transform: translateX(-200%);
    transition: 2s;
    opacity: 0;

    height: 414px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imgHidden>div {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.imgHidden>div a:hover {
    color: #8ad7ee;
}

.animaHidden:nth-child(1) {
    transform: translateX(200%);
    transition: 2s;
}

.animaHidden:nth-child(2) {
    transform: translateX(200%);
    transition: 2s;
    transition-delay: 1s;
}

.animaHidden:nth-child(3) {
    transform: translateX(200%);
    transition: 2s;
    transition-delay: 1.5s;
}

.showAnima,
.showAnima:nth-child(1),
.showAnima:nth-child(2),
.showAnima:nth-child(3) {
    transform: translateX(0%);
    opacity: 1;
}


main>section>span>div:nth-child(2) {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 80px;

}

main>section>span>div:nth-child(2)>h2 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    color: #DBF7FF;
}

main>section>span>div:nth-child(2)>h3 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 12px;
}

main>section>span>div:nth-child(2)>p {
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

main>section>span img {
    height: 100%;
}

/* main rede socias  */

main>section>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    gap: 40px;

    position: relative;
    top: 65px;
}

main>section>div a {
    color: #DBF7FF;
    font-size: 35px;
    transition: 0.4s;
}

main>section>span>div a {
    color: #DBF7FF;
    font-size: 30px;
    transition: 0.4s;
}

main>section>div a:hover {
    color: #8ad7ee;
}

@keyframes aniBgs1 {
    0% {
        right: -85px;
        bottom: -80px;
    }

    50% {
        bottom: -65px;
    }


    100% {
        bottom: -85px;
    }
}

@keyframes aniBgs2 {
    0% {
        left: -115px;
        top: 110px;
    }

    50% {
        top: 125px;
    }


    100% {
        top: 110px;
    }
}

#bgmain1 {
    position: absolute;
    right: -85px;
    bottom: -80px;
    transform: rotate(6deg);
    transition: 0.4s;
    animation: aniBgs1 7s infinite ease;
    z-index: -1;
    width: 300px;
}

#bgtech2 {
    position: absolute;
    left: -115px;
    top: 110px;
    transition: 0.4s;
    transform: rotate(130deg);
    animation: aniBgs2 7s infinite alternate;
    z-index: -1;
    width: 300px;
}

/* MEDIA SCREEN  */


@media screen and (max-width: 900px) {
    /* main>section:nth-child(1) {
        padding: 20px 20px;
    } */

    main>section>div {
        display: none;
    }

    .imgHidden {
        width: 100%;
        height: 314px;
    }

    .imgHidden>div {
        display: flex;
    }

    main>section>span>div:nth-child(2)>h2 {
        font-size: 4rem;
    }

    main>section>span>div:nth-child(2)>h3 {
        font-size: 3.7rem;
    }

    main>section>span>div:nth-child(2)>p {
        font-size: 3.4rem;
    }
}