* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;

    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    margin-top: 35px;
    transition: 0.3s;
}

header>nav {
    width: 370px;
    transition: 0.4s;
}


header>nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;

}

header>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>h1 a {
    letter-spacing: 1.5px;
    font-size: 23px;
}

code {
    font-family: monospace;
    font-size: 25px;
}

header a {
    color: #51D8D8;
    text-decoration: none;
}

header>button#menuBtn {
    background-color: transparent;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 29px;
    transition: 0.4s;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 2px;
}

header>button#menuBtn:hover {
    background-color: rgba(255, 255, 255, 0.075);
}


.menu {
    background-color: rgba(17, 17, 17, 0.897);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(1.5px);

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;

    transform: translateY(-100%);

    transition: 0.4s;

    z-index: 2;
}

.menuShow {
    transform: translateY(-100%);
    opacity: 1;
}

.menu>div {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 20px;
}

#menuClose {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 23px;
    transition: 0.4s;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 2px;
}

#menuClose:hover {
    background-color: rgba(255, 255, 255, 0.322);
    color: black;
}

.menu>div>h2 a {
    color: #51D8D8;
    text-decoration: none;
}

.menu>nav {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.menu>nav>a {
    text-align: center;
    background-color: #02acac;
    display: block;
    width: 90%;
    padding: 8px;
    font-size: 17px;
    border-radius: 50px;
    color: white;
    transition: 0.4s;
}

.menu>nav>a:hover {
    background-color: #00799e;
}

.menu>nav>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    gap: 20px;
    list-style: none;
}

.menu>nav>ul a {
    color: white;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    transition: 0.3s;
}

.menu>nav>ul>li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

.menu>nav>ul a:hover {
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.068);
}

@media screen and (max-width: 900px) {

    header>nav {
        display: none;
    }

    header>button#menuBtn {
        display: flex;
    }

    .menuShow {
        transform: translateY(0%);
    }
}


/* PRINCIPAL  */

main {
    display: flex;
    flex-direction: column;
    position: relative;
}


main>section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */

    color: white;

    min-height: calc(100vh - 85px);
    position: relative;

    overflow-y: hidden;

}

main>section:nth-child(2) {
    color: white;
}

main>section>span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    width: 100%;
}

.imgHidden {
    transform: translateX(-200%);
    transition: 2s;
    opacity: 0;

    height: 414px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imgHidden>div {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.imgHidden>div a:hover {
    color: #8ad7ee;
}

.animaHidden:nth-child(1) {
    transform: translateX(200%);
    transition: 2s;
}

.animaHidden:nth-child(2) {
    transform: translateX(200%);
    transition: 2s;
    transition-delay: 1s;
}

.animaHidden:nth-child(3) {
    transform: translateX(200%);
    transition: 2s;
    transition-delay: 1.5s;
}

.showAnima,
.showAnima:nth-child(1),
.showAnima:nth-child(2),
.showAnima:nth-child(3) {
    transform: translateX(0%);
    opacity: 1;
}


main>section>span>div:nth-child(2) {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 80px;

}

main>section>span>div:nth-child(2)>h2 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    color: #DBF7FF;
}

main>section>span>div:nth-child(2)>h3 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 12px;
}

main>section>span>div:nth-child(2)>p {
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

main>section>span img {
    height: 100%;
}

/* main rede socias  */

main>section>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    gap: 40px;

    position: relative;
    top: 65px;
}

main>section>div a {
    color: #DBF7FF;
    font-size: 35px;
    transition: 0.4s;
}

main>section>span>div a {
    color: #DBF7FF;
    font-size: 30px;
    transition: 0.4s;
}

main>section>div a:hover {
    color: #8ad7ee;
}

@keyframes aniBgs1 {
    0% {
        right: -85px;
        bottom: -80px;
    }

    50% {
        bottom: -65px;
    }


    100% {
        bottom: -85px;
    }
}

@keyframes aniBgs2 {
    0% {
        left: -115px;
        top: 110px;
    }

    50% {
        top: 125px;
    }


    100% {
        top: 110px;
    }
}

#bgmain1 {
    position: absolute;
    right: -85px;
    bottom: -80px;
    transform: rotate(6deg);
    transition: 0.4s;
    animation: aniBgs1 7s infinite ease;
    z-index: -1;
    width: 300px;
}

#bgtech2 {
    position: absolute;
    left: -115px;
    top: 110px;
    transition: 0.4s;
    transform: rotate(130deg);
    animation: aniBgs2 7s infinite alternate;
    z-index: -1;
    width: 300px;
}

/* MEDIA SCREEN  */


@media screen and (max-width: 900px) {
    /* main>section:nth-child(1) {
        padding: 20px 20px;
    } */

    main>section>div {
        display: none;
    }

    .imgHidden {
        width: 100%;
        height: 314px;
    }

    .imgHidden>div {
        display: flex;
    }
    main>section:nth-child(1){
        overflow-y: hidden;
    }

    main>section>span>div:nth-child(2)>h2 {
        font-size: 4rem;
    }

    main>section>span>div:nth-child(2)>h3 {
        font-size: 3.7rem;
    }

    main>section>span>div:nth-child(2)>p {
        font-size: 3.4rem;
    }
}


@media screen and (max-width: 500px) {

    header>h1 a {
        letter-spacing: 1.5px;
        font-size: 16px;
    }

    main>section:nth-child(1){
        overflow-y: hidden;
    }

    .imgHidden {
        width: 100%;
        height: 214px;
    }

    main>section>span {

        flex-direction: column;
        height: 100%;
    }

    main>section>span>div:nth-child(2) {
        line-height: 60px;
    }

    main>section>span>div:nth-child(2)>h2 {
        font-size: 40px;
    }

    main>section>span>div:nth-child(2)>h3 {
        font-size: 29px;
    }

    main>section>span>div:nth-child(2)>p {
        font-size: 25px;
    }


}

section:nth-child(2){
    background-color: transparent;
}


/* SEGUNDA SESSÃO  */

main > section#secTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #121212;

    height: 100vh;
    padding: 4rem 20px;

    overflow-y: hidden;

}

main > section#secTwo > article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 40px; */
    width: 40%;
    height: 100%;
}


section#secTwo > article > .titleSec2 {
    display: flex;
    flex-direction: column;
    /* width: calc(100%- 4px); */
    gap: 10px;
}

section#secTwo > article > .titleSec2 h2 {
    color: #02acac;
    font-size: 18px;
    /* font-weight: bold; */
}

section#secTwo > article > .titleSec2 h1 {
    font-size: 44px;
}

#boxListForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 348px;
}

#boxListForm::-webkit-scrollbar {
    width: 3px;
    display: block;
}

#boxListForm::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #02acac;
}

#boxListForm > .lineForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 20px;
    border-left: 0.5px solid gray;
    position: relative;
    width: calc( 100% - 20px);
    transition: 1s;
    overflow-x: hidden;
    opacity: 0%;
}

#boxListForm > .lineForm:nth-child(1n){
    transition-delay: 1s;
    transform: translateX(-100%);
} 

#boxListForm >.showLineForm:nth-child(1n){
    width: calc( 100% - 20px);
    overflow-x: visible;

    opacity: 100%;
    transform: translateX(0%);
}

.plataforma {
    font-weight: bold;
    color: rgb(122, 134, 131);
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.periodo {
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #02acac;
}

.curso {
    letter-spacing: 1.4px;
}

.descCurso {
    color: rgb(167, 167, 167);
}


#boxListForm > .lineForm > .circle {
    width: 15px;
    height: 15px;
    background-color: #02acac;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -8px;
}


/* -------------2º article-------------------- */


article > .listSkills {
    height: 348px;
}


article > .listSkills > ul{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    overflow-x: hidden;
}

article > .listSkills > ul > .liSkill {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0%;
    transition: 1s;
    transform: translateX(-100%);
}

article > .listSkills > ul > .liSkill:nth-child(1n){
    transition-delay: 1s;
}

article > .listSkills > ul > .showliSkill {
    opacity: 100%;
    transform: translateX(0%);
}


article > .listSkills > ul > .liSkill span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article > .listSkills > ul > .liSkill .progress-bar{
    width: 100%;
    background-color: gray;
    height: 5px;
}

article > .listSkills > ul > .liSkill .progress {
    background-color: #02acac;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    main > section#secTwo{
        flex-direction: column;
        height: 100%;
        padding: 40px 40px;
    }

    main > section#secTwo > article {
        width: 95%;
        gap: 25px;
    }
    
    main > section#secTwo > article:nth-child(1) {
        padding: 40px 0px;
        border-bottom: 0.5px solid rgb(41, 41, 41);
    }
}



section#secTwo > article > .titleSec2 {
    overflow-y: hidden;
}

.title1, .title2 {
    transition: 1.5s;
    transition-delay: 0.5s;
    opacity: 0%;
    transform: translateY(-100%);
}

.showTitle {
    transform: translateY(0%);
    opacity: 100%;
}

/* -------------------------------------------
            TERCEIRA SESSÃO / LISTA DE PORTIFÓLIO
*/

#secThree {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../img/bg-sec3.webp');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

#secThree > article {
    background-color: #000000c2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
}

#secThree > article > h2 {
    font-size: 30px;
    padding: 40px 10px;
    text-align: center;
    color: white;
}

.listPortfolio {
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;
    width: 100%;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    justify-content: center;

}

.itemPortfolio {
    background-color: rgba(255, 255, 255, 0.456);
    width: fit-content;
    /* width: 400px; */
}