<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- FONT  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- ICONES  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <link rel="stylesheet" href="./public/css/home.css">
    <script src="./public/js/home.js" defer></script>

    <title>Home PAge</title>
</head>

<body>
    <header>
        <h1><a href=""><code>&lt;/&gt;</code> John Developer</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="">Sobre</a>
                </li>
                <li>
                    <a href="">Portifólio</a>
                </li>
                <li>
                    <a href="">Contato</a>
                </li>
            </ul>
        </nav>
        <button type="menu" id="menuBtn">
            <ion-icon name="menu-sharp"></ion-icon>
        </button>
    </header>
    <menu class="menu">
        <div>
            <h2>
                <a href="">
                    <code>&lt;/&gt;</code>
                    John Developer
                </a>
            </h2>
            <button type="menu" id="menuClose">
                <ion-icon name="close-sharp"></ion-icon>
            </button>
        </div>
        <nav>
            <ul>
                <li><a href="">Sobre</a></li>
                <li><a href="">Portifólio</a></li>
                <li><a href="">Contato</a></li>
            </ul>
            <a href="">Entrar</a>
        </nav>
    </menu>
    <main>
        <section id="secMain">
            <span>

                <div class="imgHidden">
                    <img src="./public/img/fundo.png" alt="Foto programador">
                    <div>
                        <a href="">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="">
                            <ion-icon name="logo-whatsapp"></ion-icon>
                        </a>
                        <a href="">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                        <a href="">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                </div>
                <div>
                    <h2 class="animaHidden">Programmer</h2>
                    <h3 class="animaHidden">Full Stack</h3>
                    <p class="animaHidden">Sensivel a Web</p>
                </div>
            </span>

            <div>
                <a href="">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>

            <img src="./public/img/bg2.png" alt="bg1" id="bgmain1">
            <img src="./public/img/bg2.png" alt="bg1" id="bgtech2">

        </section>
        <!-- <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>

            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fuga nulla voluptas dignissimos, ducimus
                corporis, molestiae quo at architecto repellendus odio quaerat eius, perferendis repudiandae magni
                asperiores. Exercitationem, repudiandae adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores molestias voluptates earum
                provident modi esse quisquam? Commodi, ullam magni quisquam deserunt maiores voluptate nam dolor, quos
                fuga minima deleniti.</p>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>

            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, amet excepturi repellat accusantium
                voluptatum dolore eius incidunt molestias nulla et quidem atque veniam maiores, harum libero iusto.
                Pariatur, a inventore.</h1>
        </section> -->
    </main>
</body>

</html>